*{
    margin:0;
}
.dv1{
    border:none;
    height: 40px;
    background-color:grey;
    text-align: end;
    word-spacing: 5px;
    color:black;
}
.dv1 ul li{
    margin-top: 10px;
    display: inline-block;
}
.dv1 a{
    font-size: 20px;
    font-family: monospace;
    margin-inline-end: 40px;
}    
a{
    font-size: 15px;
    color: white;
    font-family: monospace;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}
img{
    height: 30px;
    width: 30px;
}
.dv2{
    border: none;
    height: 1000px;
    background-image: url(../imagenes/supreme.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover ;
    text-align: end;
    vertical-align: bottom;
    font-family: monospace;
    font-size: 60px;
    color:darkgrey;
}
.dv3{
    border: none;
    height: 0px;
    color:darkgray;
    opacity: 0.8;
    text-align: center;
    margin-top: -200px;
    font-size: 40px;
    word-spacing: 8px;
}
.dv3 ul li{
    display:inline-block;
}
.dv3 a{
    font-size: 25px;
    font-family: monospace;
    z-index: 1;
}
h3,h4,h5{
    opacity: 0.8;
    margin-inline-end: 40px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}
.footer{
    border: none;
    height: 120px;
    background-color: grey;
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.footer .f1 ul{
    display: inline-block;
    list-style: none;
    font-family: monospace;
    text-shadow: 0 2px 2px rgb(75, 73, 73);
}
.footer .f1 li{
    padding: 0 10px;
    font-family: monospace;
    text-shadow: 0 2px 2px rgb(99, 98, 98);
}